
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dancing Script", cursive;
        font-optical-sizing: auto;
        font-weight:500;
        font-style: normal;
        
}


img{
    width: 100%;
    height: 100%;
}
.logo
{
    width: 100px;
    padding-top: 50px;

    
    
}
header
{
    min-height: 100vh;
    min-width: 100vh;
   overflow: auto;
  background-image:url(./images/peakpx.jpg);
  background-size: cover;
  overflow:auto;
  
  
 
}
.header-content
{
width: 95%;
margin: auto;

height: 20vh;

}


nav
{

  
   font-size: 30px; 
   
}

ul li
{
    list-style: none;
    display: inline-block;
    padding: 30px;
    
}



ul a
{
    
    color:#ecca0a;
    text-decoration: none;
    
}
ul li::after
{
    content: '';
    display: block;
    background-color:#a4922de2 ;
    height: 2px;
    transform: scaleX(0);
    transition: 500ms;
}
ul li:hover::after
{
   transform: scaleX(1);
}



.set
{
    
    padding:200px;
    font-size: 30px;
    width: 0%;
}
.fresh
{
    color: white;
}
.deli
{
    color: red;
    
}

/* ice */
.cakes
{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    padding: 30px 20px;
    grid-column-gap:20px ;
    grid-row-gap: 30px;
}
.item img
{
width: 100%;
height: 300px;
border: none;
border-radius: 5px;
object-fit: cover;
cursor: pointer;
transition: 0.2s ease;
}
.item img:hover
{
    transform: scale(1.04);
}
.item h4{
    padding: 5px;
    text-align: center;
}
.item button
{
    padding: 5px 30px;
    border: none;
    border-radius: 4px;
    outline: none;
    background-color: rgba(255, 217, 0, 0.901);
    color: rgb(16, 3, 113);
    cursor: pointer;
    font-size: 15px;
    transition: 0.2s ease;

}
.item button:hover
{
    transform: scale(1.04);
}
@media  screen and (max-width: 1000px){
    .cakes{
        grid-template-columns: repeat(2,1fr);
    }
}
@media  screen and (max-width: 600px){
    .cakes{
        grid-template-columns: repeat(1,1fr);
    }
}

/* pastry */
.pastry
{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    padding: 30px 20px;
    grid-column-gap:20px ;
    grid-row-gap: 30px;
    
}
.item img
{
width: 100%;
height: 300px;
border: none;
border-radius: 5px;
object-fit: cover;
cursor: pointer;
transition: 0.2s ease;
}
.item img:hover
{
    transform: scale(1.04);
}
.item h4{
    padding: 5px;
    text-align: center;
}
.item button
{
    padding: 5px 30px;
    border: none;
    border-radius: 4px;
    outline: none;
    background-color: rgba(255, 217, 0, 0.901);
    color: rgb(16, 3, 113);
    cursor: pointer;
    font-size: 15px;
    transition: 0.2s ease;

}
.item button:hover
{
    transform: scale(1.04);
}
@media  screen and (max-width: 1000px){
    .pastry{
        grid-template-columns: repeat(2,1fr);
    }
}
@media  screen and (max-width: 600px){
    .pastry{
        grid-template-columns: repeat(1,1fr);
    }
}

/* pudding */
.pudding
{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    padding: 30px 20px;
    grid-column-gap:20px ;
    grid-row-gap: 30px;
    
}
.item img
{
width: 100%;
height: 300px;
border: none;
border-radius: 5px;
object-fit: cover;
cursor: pointer;
transition: 0.2s ease;
}
.item img:hover
{
    transform: scale(1.04);
}
.item h4{
    padding: 5px;
    text-align: center;
}
.item button
{
    padding: 5px 30px;
    border: none;
    border-radius: 4px;
    outline: none;
    background-color: rgba(255, 217, 0, 0.901);
    color: rgb(16, 3, 113);
    cursor: pointer;
    font-size: 15px;
    transition: 0.2s ease;

}
.item button:hover
{
    transform: scale(1.04);
}
@media  screen and (max-width: 1000px){
    .pudding{
        grid-template-columns: repeat(2,1fr);
    }
}
@media  screen and (max-width: 600px){
    .pudding{
        grid-template-columns: repeat(1,1fr);
    }
}

section {
    margin-top: 2rem;
}
    
/* ice */
.ice
{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    padding: 30px 20px;
    grid-column-gap:20px ;
    grid-row-gap: 30px;
    
}
.item img
{
width: 100%;
height: 300px;
border: none;
border-radius: 5px;
object-fit: cover;
cursor: pointer;
transition: 0.2s ease;
}
.item img:hover
{
    transform: scale(1.04);
}
.item h4{
    padding: 5px;
    text-align: center;
}
.item button
{
    padding: 5px 30px;
    border: none;
    border-radius: 4px;
    outline: none;
    background-color: rgba(255, 217, 0, 0.901);
    color: rgb(16, 3, 113);
    cursor: pointer;
    font-size: 15px;
    transition: 0.2s ease;

}
.item button:hover
{
    transform: scale(1.04);
}
@media  screen and (max-width: 1000px){
    .ice{
        grid-template-columns: repeat(2,1fr);
    }
}
@media  screen and (max-width: 600px){
    .ice{
        grid-template-columns: repeat(1,1fr);
    }
}

.top {
    text-align: center;
   margin-top: 1.5rem;
   background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
   height: 3rem;
   color: #fff;
   font-weight: 500;
}