* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
    
  }
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    justify-content: space-between;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .row {
    display: flex;
    justify-content: space-between;
   
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }
  
  
   .section
{
    margin-top: 40px;
    margin-bottom: 40px;
    
}

.container-feature
{
    display: flex;
    justify-content: space-between;
}
 /* Clearfix (clear floats) */
 
.feature
{
    overflow: hidden;
    border-radius: 20px;
    border: 0.1px solid rgb(214, 213, 213);
}
.column
{
    width: 360px;
    height: 200px;
    overflow: hidden;
}
.column img
{
width: 100%;
background-position:100px;
}
.feature h3,{
    padding-left: 20px;
}
.feature:hover
{
    transition: transform 0.7s;
    transform: scale(1.04);
    cursor:pointer;
}

